{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/css/tab_table.css' %}">
<style>
    .tabs .slider .indicator {
        position: relative;
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        height: 4px;
        background: #e74a3b !important;
        border-radius: 1px;
    }
    .tabs input[name=tab-control-modal]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        cursor: default;
        color: #e74a3b !important;
    }
    .tabs input[name=tab-control-modal]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        cursor: default;
        color: #e74a3b !important;
    }
    .tabs .ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
        outline: 0;
        color: #e74a3b !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="locationbar ml-2">
    <span>Resource Management &nbsp;&nbsp;>&nbsp;&nbsp;Integreation &nbsp;&nbsp;>&nbsp;&nbsp;<a href="/integration/registration/">Registration</a> &nbsp;&nbsp;>&nbsp;&nbsp;Fortinet &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Fortigate NGFW<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 ml-2 font-weight-bold text-gray-800">Integrate Fortigate</h6>
    <p class="h6 mb-4 ml-2">Integrate Fortigate Logs To Teiren Cloud</p>
    <div class="tabs">
        <input type="radio" id="modal-tab1" name="tab-control-modal" checked>
        <input type="radio" id="modal-tab2" name="tab-control-modal">
        <ul class='ul'>
            <li title="Custom Rule">
                <label for="modal-tab1" role="button">
                    <span>Network Transmission (TCP/UDP)</span>
                </label>
            </li>
            <li title="Default Rule">
                <label for="modal-tab2" role="button">
                    <span>API KEY</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section>
                <div class="mb-4 px-4">
                    <div style="font-size:13px">
                        <form method="POST" id='network_form'>
                            <div class="form-group font-weight-bold text-danger">Teiren Server IP
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="server_ip" name="server_ip" placeholder="Teiren Server IP">
                                </div>
                            </div>
                            <div class="form-group font-weight-bold text-danger">Destination Port
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="dst_port" name="dst_port" placeholder="Destination Port (Must be opened in Teiren Server)">
                                </div>
                            </div>
                            <div class="form-group font-weight-bold text-danger">Tag Name
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="tag_name" name="tag_name" placeholder="Fortinet NGFW Tag Name">
                                </div>
                            </div>
                            <input type='hidden' id="integration_type" name="integration_type" value="network">
                            <input type="button" class="btn btn-outline-primary" onclick="register('network_form')" id='form-check' value="Confirm Fortinet NGFW Information"/>
                        </form>
                    </div>
                </div>
            </section>
            <section>
                <div class="mb-4 px-4">
                    <div style="font-size:13px">
                        <form method="POST" id='api_form'>
                            <div class="form-group font-weight-bold text-danger">Fortigate API KEY
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="access_key" name="access_key" placeholder="Fortinet NGFW API KEY">
                                </div>
                            </div>
                            <div class="form-group font-weight-bold text-danger">Destination Port
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="dst_port" name="dst_port" placeholder="Destination Port (Must be opened in Teiren Server)">
                                </div>
                            </div>
                            <div class="form-group font-weight-bold text-danger">Tag Name
                                <div class="form-group text-dark">
                                    <input type='text' class="form-control" id="tag_name" name="tag_name" placeholder="Fortinet NGFW Tag Name">
                                </div>
                            </div>
                            <input type='hidden' id="integration_type" name="integration_type" value="api">
                            <input type="button" class="btn btn-outline-primary" onclick="register('api_form')" id='form-check' value="Confirm Fortinet NGFW NAC Information"/>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function register(forti_form){
        $.ajax({
            url: 'insert/',
            headers:{
                'X-CSRFToken': '{{csrf_token}}'
            },
            type: 'post',
            data: $(`#${forti_form}`).serialize()
        }).done(function(response){
            var message = JSON.parse(response)
            if('error' in message){
                alert(message.error)
            } else {
                alert(message.message)
                location.reload()
            }
        })
    }    
</script>
{% endblock %}