{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="locationbar ml-2">
    <span>Resource Management &nbsp;&nbsp;>&nbsp;&nbsp;Integreation &nbsp;&nbsp;>&nbsp;&nbsp;<a href="/integration/registration/">Registration</a> &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Windows<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 ml-2 font-weight-bold text-gray-800">Integrate Windows</h6>
    <p class="h6 mb-4 ml-2">Integrate Windows Logs To Teiren Cloud</p>
    <!-- Begin Page Content -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div style="float: left">
                <h6 class="m-0 font-weight-bold text-teiren">
                    Download Windows Integration File
                </h6>
            </div>
        </div>
        <div class="card-body" style="font-size:12px">
            <form method="POST" id='agent_form'>
                {% csrf_token %}
                <div class="form-group font-weight-bold text-teiren">Teiren Cloud Server IP
                    <div class="form-group text-dark">
                        <input type='text' class="form-control" id="server_ip" name="server_ip" placeholder="Teiren Cloud Server IP">
                    </div>
                </div>
                <div class="form-group font-weight-bold text-teiren">TAG NAME
                    <div class="form-group text-dark">
                        <input type='text' class="form-control" id="tag_name" name="tag_name" placeholder="Windows TAG NAME">
                    </div>
                </div>
                <input type='hidden' id="integration_type" name="integration_type" value="agent">
                <input type="button" class="btn btn-outline-primary" onclick="register('agent_form')" value="Download Windows Integration File"/>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function register(win_form){
        $.ajax({
            url: 'insert/',
            headers:{
                'X-CSRFToken': '{{csrf_token}}'
            },
            type: 'post',
            data: $(`#${win_form}`).serialize()
        }).done(function(response){
            try{
                if ('error' in JSON.parse(response)){
                    alert(JSON.parse(response).error)
                } else {
                    throw new Error
                }
            } catch {
                const blob = new Blob([JSON.parse(response).file], { type: 'application/octet-stream' });
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'teiren_windows_setup.ps1';
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                alert(JSON.parse(response).message)
            }
        })
    }    
</script>
{% endblock %}