{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/css/tab_table.css' %}">
{% endblock %}
{% block content %}
<div class="locationbar ml-2">
    <span>Threat Management &nbsp;&nbsp;>&nbsp;&nbsp;Rule configuration &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{system|title}} Rules<span>
</div>
<div>
    <div>
        <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">{{system|title}} Rules</h6>
        <p class="h6 mb-4 ml-2">Configure {{system|title}} Rule Sets In Detail</p>
    </div>
    <div class="tabs">
        <input type="radio" id="modal-tab1" name="tab-control-modal" checked>
        <input type="radio" id="modal-tab2" name="tab-control-modal">
        <ul class='ul'>
            <li title="Custom Rule">
                <label for="modal-tab1" role="button">
                    <span>Custom Rule</span>
                </label>
            </li>
            <li title="Default Rule">
                <label for="modal-tab2" role="button">
                    <span>Default Rule</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section>
                {% include './custom.html' %}
            </section>
            <section>
                {% include './default.html' %}
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Add Modal -->
{% include './add/modal.html' %}

{% endblock %}
{% block script %}


{% endblock %}