{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}

{% block head %}
<!-- 페이지 필수 스타일 -->
<link rel="stylesheet" href="{% static '/M_threatD/css/dynamic.css' %}">
<link rel="stylesheet" href="{% static '/css/tab.css' %}">
<link rel="stylesheet" href="{% static '/M_logs/css/searchcard.css' %}">
<style>
    .log-entry pre {
        font-size: 1.0em;
    }
    .detected-button {
        font-size: 1.0em;
        background-color: #79d4e7; 
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px 0;
    }
    .detected-button:hover {
        background-color: #79d4e7; 
    }
</style>
{% endblock %}

{% block content %}
<div class="locationbar ml-2">
    <span>Log Management &nbsp;&nbsp;>&nbsp;&nbsp; Logs &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{system}} <span>
</div>
<div>
    <!-- 페이지 헤딩 -->
    <h6 class="h3 font-weight-bold mb-2 text-gray-800 ml-2">{{system}} Log</h6>
    <p class="h6 mb-4 ml-2">{{system}} Integrated Logs</p>
    {% include "./search_filter.html" %}
    <div class="row justify-content-between">
        <div class="card shadow mb-4 mr-1" style="width:15%; height:100vh;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-teiren">Log Property Filtering</h6>
            </div>
            <div class="card-body" style="font-size:15px; overflow:scroll;">
                <form id="filter_form" onchange="filterChange(this)" onsubmit="return false;">
                    {% for property in log_properties %}
                        {% for key, values in property.items %}
                            <div class="row">
                                <h4 class="text-teiren">
                                    {{key|title}}
                                </h4>
                                <button id="toggle_{{key}}" class="btn ml-auto p-0" onclick="filterToggle(this)">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div id="filter_{{key}}" style="display:none;">
                                {% for value in values %}
                                <div>
                                    <input id="{{value}}" name="{{key}}" value="{{value}}" type="checkbox">
                                    <label for="{{value}}">{{value}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="card shadow mb-4 ml-auto" id="log_table" style="width:84%;">
            <div class="card-header py-3 row">
                <h6 class="m-0 font-weight-bold text-teiren">Log Total: {{total_count}} | Page: {{page}}</h6>
                <div class="ml-auto mr-2">
                    <button class="btn btn-md p-0" style="font-size:18px" data-toggle="modal" data-target="#table_property_setting">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="font-size:15px;">
                <div class="table-responsive" style="overflow:hidden;">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                        style="table-layout:fixed;text-align:center;font-size:15px;">
                        <thead>
                            <tr>
                                <th width='5%'>No.</th>
                                {% for property in table_properties %}
                                    <th>{{property}}</th>
                                {% endfor %}
                                <th width="45%">Log Data</th>
                                <th width="15%">Detected Rules</th>
                            </tr>
                        </thead>
                        <tbody id="log_tbody">
                            {% with page|add:'-1'|mul:25 as index_num %}
                            {% for log in log_list %}
                            <tr>
                                <td style="vertical-align: middle;">{{forloop.counter|add:index_num}}</td>
                                {% for property in table_properties %}
                                    <td style="vertical-align: middle;">
                                        {{log|get_item:property|default:'-'}}
                                    </td>
                                {% endfor %}
                                {% if 'detected_by_rules' in log %}
                                    {% with log.detected_by_rules as detected_by_rules %}
                                        <td style="text-align:left;" class="log-entry">
                                            {% with log|pop:'detected_by_rules' as log %}
                                            <div>
                                                <span id="log_data_trunc_{{forloop.counter|add:index_num}}">
                                                    {{log|pprint|truncatechars:100}}
                                                    <button class="btn" type="button" onclick="displayLogData({{forloop.counter|add:index_num}})"><i class="fa-solid fa-chevron-down"></i></button>
                                                </span>
                                            </div>
                                            {% endwith %}
                                        </td>
                                        <td>
                                            <div>
                                                {% for rule in detected_by_rules %}
                                                    <form action="{% url 'logs_by_ruleset' system.lower rule %}" method="GET" style="display:inline;">
                                                        <input type="submit" value="{{rule}}" class="detected-button btn btn-sm mb-1"/>
                                                    </form>
                                                {% endfor %}
                                            </div>
                                        </td>        
                                    {% endwith %}
                                {% else %}
                                    <td>
                                        <span id="log_data_trunc_{{forloop.counter|add:index_num}}">
                                            {{log|pprint|truncatechars:100}}
                                            <button class="btn" type="button" onclick="displayLogData({{forloop.counter|add:index_num}})"><i class="fa-solid fa-chevron-down"></i></button>
                                        </span>
                                    </td>
                                    <td> <span class="text-muted">No rules detected</span> </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td colspan={{table_properties|length |add:3}} id="log_data_{{forloop.counter|add:index_num}}" class="text-left" style="display:none;">
                                    <div class="text-teiren">
                                        <span>Log Data:</span>
                                    </div>
                                    <span>
                                        {{log|pprint}}
                                        <button class="btn" type="button" onclick="hideLogData({{forloop.counter|add:index_num}})"><i class="fa-solid fa-chevron-up"></i></button>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <ul style="display:flex; list-style: none;">
                        {% if page_obj.has_previous %}
                            <li class="page-item" aria-current="page">
                                <a href="?page=1">
                                    <button class="page-link">&laquo; First</button>
                                </a>
                            </li>
                            <li class="page-item" aria-current="page">
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    <button class="page-link">Previous</button>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                            <button class="page-link">{{ page_obj.number }}</button>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item" aria-current="page">
                            <a href="?page={{ page_obj.next_page_number }}">
                                <button class="page-link">Next</button>
                            </a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a href="?page={{ page_obj.paginator.num_pages }}">
                                <button class="page-link">Last &raquo;</button>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade card-body" id="table_property_setting" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Table Property Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="table_properties_form" enctype="multipart/form-data">
                    <div>
                        {% if table_properties|length > 0 %}
                            {% for property in table_properties %}
                            <div class="row align-items-center my-4" style="font-size: 18px;">
                                <span class="ml-3">{{forloop.counter}}</span>
                                <input type="text" class="form-control ml-3" style="width:90%;" name="properties" value="{{property}}">
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="row align-items-center my-4" style="font-size: 18px;">
                                <span class="ml-3">1.</span>
                                <input type="text" class="form-control ml-3" style="width:90%;" name="properties" value=''>
                            </div>
                        {% endif %}
                    </div>
                </form>
                <div class="row align-items-center my-4" style="font-size: 18px;">
                    <button class="btn btn-md btn-outline-teiren" style="border-radius:20px" onclick="addPropertyList()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <input type="text" class="form-control ml-3" style="width:90%;" name="properties" value='' disabled>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <button type='submit' id='modify' class="btn btn-md btn-outline-teiren" onclick="saveTableProperty()">Save Properties</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function displayLogData(e){
        $(`#log_data_trunc_${e}`).hide()
        $(`#log_data_${e}`).slideDown()
    }

    function hideLogData(e){
        $(`#log_data_${e}`).slideUp('fast')
        $(`#log_data_trunc_${e}`).show()
    }

    function filterToggle(e){
        var prop_id = $(e).attr('id').split('_').slice(-1)[0]
        var toggle = $(e).find('i')
        if(toggle.hasClass('fa-chevron-down')){
            toggle.removeClass('fa-chevron-down')
            toggle.addClass('fa-chevron-up')
            $(`#filter_${prop_id}`).slideDown()
        } else {
            toggle.removeClass('fa-chevron-up')
            toggle.addClass('fa-chevron-down')
            $(`#filter_${prop_id}`).slideUp()
        }
    }

    function filterChange(e){
        console.log($(e).serialize())
        $.ajax({
            url: '',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: $(e).serialize(),
            type: 'get'
        }).done(function(response){
            console.log(response)
            updateLogTable(response.log_list)
        })
    }

    function updateLogTable(log_list){
        var tbody = $('#log_tbody')
        tbody.empty()
        log_list.forEach(function(log, index){
            var logDataTrunc = `<span id="log_data_trunc_${index}">${JSON.stringify(log).substring(0, 100)}<button class="btn" type="button" onclick="displayLogData(${index})"><i class="fa-solid fa-chevron-down"></i></button></span>`
            var logDataFull = `<div class="text-teiren"><span>Log Data:</span></div><span>${JSON.stringify(log)}<button class="btn" type="button" onclick="hideLogData(${index})"><i class="fa-solid fa-chevron-up"></i></button></span>`
            var logRow = `<tr>
                            <td style="vertical-align: middle;">${index + 1}</td>
                            <td style="vertical-align: middle;">${index + 1}</td>
                            <td style="vertical-align: middle;">${index + 1}</td>
                            <td style="text-align:left;" class="log-entry">${logDataTrunc}</td>
                            <td> <span class="text-muted">No rules detected</span> </td>
                          </tr>
                          <tr>
                            <td colspan=5 id="log_data_${index}" class="text-left" style="display:none;">${logDataFull}</td>
                          </tr>`
            tbody.append(logRow)
        })
    }

    function addPropertyList(){
        var count = $('form#table_properties_form').find('input').length + 1
        
        $($('form#table_properties_form div')[0]).append(`
            <div class="row align-items-center my-4" style="font-size: 18px;">
                <span class="ml-3">${count}.</span>
                <input type="text" class="form-control ml-3" style="width:90%;" name="properties" value=''>
            </div>
        `)
    }

    function saveTableProperty(){
        $.ajax({
            url:`/test/log/{{system}}/property/save/`,
            data: $('form#table_properties_form').serialize(),
            type: 'get'
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
            }
        })
    }
</script>
{% endblock script %}
