{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}

{% block head %}
<!-- 페이지 필수 스타일 -->
<link rel="stylesheet" href="{% static '/M_threatD/css/dynamic.css' %}">
<link rel="stylesheet" href="{% static '/css/tab.css' %}">
<link rel="stylesheet" href="{% static '/M_logs/css/searchcard.css' %}">
<style>
    .log-entry pre {
        font-size: 1.0em;
    }
    .detected-button {
        font-size: 1.0em;
        background-color: #79d4e7; 
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px 0;
    }
    .detected-button:hover {
        background-color: #79d4e7; 
    }
    .ruleset-details {
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .ruleset-details h6 {
        color: #79d4e7; /* Ruleset Details 텍스트 색상 변경 */
    }
    .ruleset-details pre {
        background: #f8f9fa;
        border: none;
        font-size: 1.6em; 
    }
</style>
{% endblock %}

{% block content %}
<div class="locationbar ml-2">
    <span>Log Management &nbsp;&nbsp;>&nbsp;&nbsp; Logs &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{system}} <span>
</div>
<div>
    <!-- 페이지 헤딩 -->
    <h6 class="h3 font-weight-bold mb-2 text-gray-800 ml-2">{{system}} Log - {{ruleset_name}}</h6>
    <p class="h6 mb-4 ml-2">{{system}} Integrated Logs filtered by {{ruleset_name}}</p>
    <div class="ruleset-details">
        <h6 class="font-weight-bold">Ruleset Details</h6>
        <pre>{{ ruleset|safe }}</pre>
    </div>
    {% include "./search_filter.html" %}
    <div class="card shadow mb-4" id="log_table">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-teiren">Log Total: {{total_count}} | Page: {{page}}</h6>
        </div>
        <div class="card-body" style="font-size:15px;">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                       style="table-layout:fixed;text-align:center;font-size:15px;">
                    <thead>
                        <tr>
                            <th width='5%'>No.</th>
                            <th>Log (Json)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in log_list %}
                        <tr>
                            <td style="vertical-align: middle;">{{forloop.counter}}</td>
                            <td style="text-align:left;" class="log-entry">
                                <pre>{{log|pprint}}</pre>
                                {% if 'detected_by_rules' in log %}
                                    {% with log.detected_by_rules as detected_by_rules %}
                                    <div>
                                    {% for rule in detected_by_rules %}
                                        <form action="{% url 'logs_by_ruleset' system.lower rule %}" method="GET" style="display:inline;">
                                            <input type="submit" value="{{rule}}" class="detected-button btn btn-sm mb-1"/>
                                        </form>
                                    {% endfor %}
                                    </div>
                                    {% endwith %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
