
{% load static %}
<div class="card shadow mb-4">
    <div class="card-body" id="section-to-refresh" style="font-size:12px">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                <thead>
                    <tr>
                        <th width=20%>Registered Time</th>
                        <th>System</th>
                        <th>Tag Name</th>
                        <th>Integration Type</th>
                        <th width=10%>Details</th>
                        <th width=10%>Delete</th>
                        <th width=12%>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if integration_list %}
                        {% for integration in integration_list %}
                            <tr>
                                <td>{{integration.inserted_at}}</td>
                                <td><img style="max-height: 50px;" src="{% static 'img/'|add:integration.SYSTEM|add:'_icon.png' %}"></td>
                                <td>{{integration.TAG_NAME}}</td>
                                <td>{{integration.config.integration_type|title|default:'-'}}</td>
                                <td>
                                    <button class="btn btn-md btn-outline-teiren">
                                        <i class="fa-solid fa-file"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-md btn-outline-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-md btn-teiren">
                                        {% if integration.status == 'started' %}
                                            Running
                                        {% else %}
                                            Stoped
                                        {% endif %}
                                        <i class="fa-solid fa-power-off ml-1"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8" style="font-size:20px">No Data</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Delete Modal -->
<div class="modal fade card-body" id="delete_modal" role="dialog" style="overflow-y:auto" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style="width:1000px; height:auto">
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id="modal_title">Delete Registration</h5>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <h5 class="text-danger">Verify Information Before Deleting</h5>
                <form id="delete_form" class="mt-2">
                    
                </form>
                <h5 id="delete_message" class="text-danger">Will You Delete Registered Information?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id="delete_check">
                    <button type="button" id="delete_quit" class="btn btn-md btn-outline-danger mr-2" data-dismiss="modal">Cancel</button>
                    <button type="button" id="delete_accept" class="btn btn-md btn-outline-teiren">Delete</button>
                </div>
                <button type="button" id="delete_complete" class="btn btn-md btn-outline-teiren" style="display:none;">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- Trigger Modal -->
<div class="modal fade card-body" id="trigger_modal" role="dialog" style="overflow-y:auto" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style="width:1000px; height:auto">
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id="modal_title">Integration On/Off</h5>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <h5 class="text-danger">Verify Information Before Turning On/Off</h5>
                <form id="trigger_form" class="mt-2">
                    
                </form>
                <h5 id="trigger_message" class="text-danger">Will You Change Collection Status?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id="delete_check">
                    <button type="button" id="trigger_quit" class="btn btn-md btn-outline-danger mr-2" data-dismiss="modal">Cancel</button>
                    <button type="button" id="trigger_accept" class="btn btn-md btn-outline-teiren"></button>
                </div>
                <button type="button" id="trigger_complete" class="btn btn-md btn-outline-teiren" style="display:none;">Confirm</button>
            </div>
        </div>
    </div>
</div>
